<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
 
</head>
<body>
    {{>navbar}}


    <div class="container-fluid ">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">

           
               <!---Main header-->  

               <div class="col-md-12 col-12 main_header_left align-items-center">

                <figure class="errimg">
                    <img src="image/404.png" alt="arka" class="img-fluid" title="Arka Roy" style="width: 240px;">
                </figure>
   
            
            <p>Welcome to Arka World</p>
            <h1>{{errorMessage}}</h1>
            <a href="/" ><button>Go Back</button></a>
          </div>

          <!---Main header end--> 
        </div>
          </div>
        </div>
    </div>
    
    
   {{>footer}}
</body>
</html>
