<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
   

    {{>navbar}}
    <div class="container-fluid ">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">

           
               <!---Main header-->  

               <div class="col-md-6 col-12 main_header_right align-items-center">

                <figure>
                    <img src="image/about.jpg" alt="arka" class="img-fluid" title="Arka Roy" style="width: 240px;">
                </figure>
   
             </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>I Am A <span >Mern Stack Devloper</span> And A Software Engineer</h1>
            <a href="" target="_blank"><button>About me</button></a>
          </div>

          <!---Main header end--> 
        </div>
          </div>
        </div>
    </div>
    
    
{{>footer}}
</body>
</html>
